@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecon.Feature.PageContent
@using Sitecon.Foundation.SitecoreHelperExtensions
@model Sitecon.Feature.PageContent.Models.AboutUs

  <hr>
    <section id="about-us" class="container main">
      <div class="row-fluid">
        <div class="span6">
          <h3>@Model.LeftTitle</h3>
          <p>@Model.LeftText</p>
        </div>
        <div class="span6">
          <h3>@Model.RightTitle</h3>
          <div class="accordion" id="accordion2">
            @foreach (var item in @Model.RightList)
            {
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="@item.href">
                    @item.Title
                  </a>
                </div>
                <div id="@item.id" class="accordion-body collapse">
                  <div class="accordion-inner">
                    @item.Text
                  </div>
                </div>
              </div>
            }

          </div>
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span6">
          <h2>@Model.LeftBottomTitle</h2>
          <div>
            @foreach (var i in @Model.BottomList)
            {
              <div class="@i.BarColour"><div class="bar" style="width: @i.WidthPercentage; text-align:left; padding-left:10px;">@i.Title</div></div>
            }
          </div>
        </div>
        <div class="span6">
          <h2>@Model.RightBottomTitle</h2>
          <p>@Model.RightBottomText</p>
        </div>
      </div>
      <hr>
    </section>
