@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/assets/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/assets/css/main.css">
  <link rel="stylesheet" href="~/assets/css/sl-slide.css">
  <script src="~/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <link rel="shortcut icon" href="~/assets/images/favicon.png">


  @Html.Sitecore().VisitorIdentification()
</head>
<body>
  <div>
    @Html.Sitecore().Placeholder("navbar")
  </div>

  <div>
    @Html.Sitecore().Placeholder("title")
  </div>

  <div>
    @Html.Sitecore().Placeholder("main")
  </div>
  <!--Bottom-->
  <section id="bottom" class="main">
    <!--Container-->
    <div class="container">
      <!--row-fluids-->
      <div class="row-fluid">
        <!--Contact Info-->
        <div class="span3">
          <h4>CONTACT US</h4>
          <ul class="unstyled address">
            <li>
              <i class="icon-home"></i><strong>Address:</strong> Carrera 7 # 72-01<br>Bogotá D.C., Colombia
            </li>
            <li>
              <i class="icon-envelope"></i>
              <strong>Email: </strong> <a href="mailto:company@domain.com">company@domain.com</a>
            </li>
            <li>
              <i class="icon-globe"></i>
              <strong>Website:</strong> <a href="http://www.domain.com">www.domain.com</a>
            </li>
            <li>
              <i class="icon-phone"></i>
              <strong>Telephone:</strong> 123-456-7890
            </li>
          </ul>
        </div>
        <!--End Contact Info-->
        <!--Important Links-->
        <div id="tweets" class="span3">
          <h4>COMPANY NAME</h4>
          <div>
            <ul class="arrow">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Erro 404</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!--Important Links-->
        <div id="archives" class="span2">
          <h4>ARCHIVES</h4>
          <div>
            <ul class="arrow">
              <li><a href="#">Link No. 1</a></li>
              <li><a href="#">Link No. 2</a></li>
              <li><a href="#">Link No. 3</a></li>
              <li><a href="#">Link No. 4</a></li>
              <li><a href="#">Link No. 5</a></li>
              <li><a href="#">Link No. 6</a></li>
            </ul>
          </div>
        </div>
        <!--End Links-->
        <div class="span4">
          <h4>FACEBOOK</h4>
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=130&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
      <!--/row-fluid-->
    </div>
    <!--/container-->
  </section>
  <!--/bottom-->
  <!--Footer-->
  <footer id="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="span5 cp">
          &copy; 2016 <a target="_blank" href="http://www.domain.com/">Your Company</a>. All Rights Reserved.
        </div>
        <div class="span6">
          <ul class="social pull-right">
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
            <li><a href="#"><i class="icon-youtube"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
          </ul>
        </div>
        <div class="span1">
          <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--/Footer-->

  <script src="~/assets/js/vendor/jquery-1.9.1.min.js"></script>
  <script src="~/assets/js/vendor/bootstrap.min.js"></script>
  <script src="~/assets/js/main.js"></script>
  <script src="~/assets/js/jquery.ba-cond.min.js"></script>
  <script src="~/assets/js/jquery.slitslider.js"></script>

  <!-- Slider -->
  <script type="text/javascript">
    $(function () {
      var Page = (function () {
        var $navArrows = $('#nav-arrows'),
          slitslider = $('#slider').slitslider({
            autoplay: true
          }),
          init = function () {
            initEvents();
          },
          initEvents = function () {
            $navArrows.children(':last').on('click', function () {
              slitslider.next();
              return false;
            });
            $navArrows.children(':first').on('click', function () {
              slitslider.previous();
              return false;
            });
          };
        return { init: init };
      })();
      Page.init();
    });</script>
  <!-- /Slider -->
</body>
</html>